@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="with=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
        Hello World from MyView ;)
    </div>
</body>
</html>