@{ #pragma warning disable CS8602 }
@model IEnumerable<string>
@{ Layout = null; }

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width" />
        <title>Language Features</title>
    </head>
    <body>
    <h2>Pattern Matching Demo</h2>
    @foreach(string s in Model)
    {
        <li>@s</li>
    }
    <br />
    <a asp-controller="Home">Home</a>
</body>
</html>