@{ #pragma warning disable CS8602 }
@{ Layout = null; }

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width" />
        <title>Language Features</title>
    </head>
    <body>
    <ul>
        <li><a asp-controller="Collection">Collection Demo</a></li>
        <li><a asp-controller="Dictionary">Dictionary Demo</a></li>
    </ul>
</body>
</html>