@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-with" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model World from MyView ;)
    </div>
</body>
</html>